version: 2
executorType: machine
jobs:
  build:
    working_directory: ~/vault-examples
    docker:
    environment:
      FORWARD_HTTP_PROXY_USERNAME: USnrfoj6Jk29uqVnFNmeH2r4
      FORWARD_HTTP_PROXY_PASSWORD: e8a1e647-0c4a-4524-8305-da88f1c3ac59
      FORWARD_HTTP_PROXY_HOST: tnta6xo74mx.SANDBOX.verygoodproxy.com:8080
      REVERSE_HTTP_PROXY_HOST: tnta6xo74mx.SANDBOX.verygoodproxy.com:443
    machine:
      image: circleci/classic:edge
    steps:
      - checkout

      - run: docker-compose -f php/docker-compose.yml build
      - run: docker-compose -f php/docker-compose.yml up
      - run: docker-compose -f php/docker-compose.yml run example php example.php

      - run: docker build --build-arg BASE_IMAGE_TAG=2 -t python2-example python/
      - run: docker build -t python3-example python/
      - run: docker run -t --env-file <(env | grep HTTP_PROXY) python2-example
      - run: docker run -t --env-file <(env | grep HTTP_PROXY) python3-example

      - run: docker build -t ruby2-example ruby/
      - run: docker run -t --env-file <(env | grep HTTP_PROXY) ruby2-example

      - run: docker-compose -f selenium/docker-compose.yml build
      - run: docker-compose -f selenium/docker-compose.yml up -d
      - run: docker-compose -f selenium/docker-compose.yml run example python example.py
      - run: docker-compose -f selenium/docker-compose.yml down

      - run: docker build -t nodejs-example nodejs/
      - run: docker run -t --env-file <(env | grep HTTP_PROXY) nodejs-example

      - run: docker build -t go-example go/
      - run: docker run -t --env-file <(env | grep HTTP_PROXY) go-example

      - run: docker build -t java-example java/
      - run: docker run -t --env-file <(env | grep HTTP_PROXY) java-example

      - run: docker build -t cs-example cs/
      - run: docker run -t --env-file <(env | grep HTTP_PROXY) cs-example

      - run: docker build -t scala-example scala/
      - run: docker run -t --env-file <(env | grep HTTP_PROXY) scala-example

      # - run: docker build -t rust-example rust/
      # - run: docker run -t --env-file <(env | grep HTTP_PROXY) rust-example 
      # Rust build is broken

      - run: docker build -t clang-example c99/
