version: 2
jobs:
  build:
    working_directory: ~/vault-examples
    docker:
    environment:
      FORWARD_HTTP_PROXY_USERNAME: USnrfoj6Jk29uqVnFNmeH2r4
      FORWARD_HTTP_PROXY_PASSWORD: e8a1e647-0c4a-4524-8305-da88f1c3ac59
      FORWARD_HTTP_PROXY_HOST: tnta6xo74mx.SANDBOX.verygoodproxy.com:8080
      REVERSE_HTTP_PROXY_HOST: tnta6xo74mx.SANDBOX.verygoodproxy.com
    machine:
      enabled: true
    steps:
      - checkout
      - setup_remote_docker
      - run:
          command: docker build python/
